<div class="footer">
    <div class="img-holder">
        <img class="logo" src="https://res.cloudinary.com/drjisyvve/image/upload/v1791542447/cv-pic_op3thy.png" alt="<logo>">
    </div>

    <div class="mark-div">
        <label class="mark">© Aleksa Milivojević, 2026</label>
    </div>

    <div class="info">
        <a class="info-link" href="https://mail.google.com/mail/?view=cm&fs=1&to=milivojevic.aki@gmail.com">
            <img class="info-img info-img-gmail" src="https://res.cloudinary.com/drjisyvve/image/upload/v1791544257/2026_10_09_0ly_Kleki_ivrpa3.png" alt="<mail>">
        </a>
        <a class="info-link" href="https://github.com/aleksa-milivojevic/">
            <img class="info-img" src="https://res.cloudinary.com/drjisyvve/image/upload/v1791544076/github-icon_x3g4vc.webp" alt="<github>">
        </a>
    </div>
</div>