<div class="content">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="desc-div">
            <label class="desc">Challanges</label>
        </div>
        <div class="invite-list">
            @if (invites().length > 0) {
            @for(invite of invites(); track invite.id) {
                <div class="invite">
                    <div class="user">
                        <div class="username-pfp">
                            <img class="pfp" [src]="invite.picture" alt="pfp"/>
                            <label class="username">{{ invite.username }}</label>
                            <label class="user-score">{{ invite.score }}</label>
                        </div>
                    </div>
                    <button class="accept" (click)="acceptInvite(invite.id)">Accept</button>
                </div>
            }
            }
            @else {
                <label class="no-invites">{{ 'When another player challanges you to a match,\nthe invitation will show up here.\n Currently there are no challanges sent your way.' }}</label>
            }
        </div>
    </div>
</div>