<div class="content">
    <app-sidebar></app-sidebar>
    <div class="user">
        <div class="user-top">
            <div class="username-email-div">
                <div class="username-div">
                    <label class="username-lbl">username:</label>
                    <div class="input-div">
                        <!-- <input
                        name="username"
                        type="text"
                        class="username"
                        placeholder="username"
                        [(ngModel)]="newUsername"
                        [disabled]="!showChNameScreen()"> -->
                        <label class="username">{{ self()?.username }}</label>
                        <button class="edit-btn" (click)="toggleChNameScreen()">e</button>
                    </div>
                </div>
                <div class="email-div">
                    <label class="email-lbl">email:</label>
                    <div class="input-div-1">
                        <!-- <input
                        name="email"
                        type="text"
                        class="email"
                        placeholder="email"
                        [(ngModel)]="newEmail"
                        [disabled]="!showChNameScreen()"> -->
                        <label class="email">{{ self()?.email }}</label>
                        <button class="edit-btn">e</button>
                    </div>
                </div>
            </div>
            <div class="pfp">
                <img [src]="self()?.picture" alt="PFP">
                <button class="edit-pfp-btn" (click)="toggleUpdatePicture()">e</button>
            </div>
        </div>
        <div class="score-block">
            <label class="score-lbl">Your score:</label>
            <div class="score-div">
                <label class="score">{{ self()?.score ?? 0 }}</label>
            </div>
        </div>
        <div class="date-div">
            <label class="date-lbl">Joined the seas:</label>
            <div class="input-div-2">
                <!-- <label class="date">{{ self()?.createdAt!.getDay() + "." + self()?.createdAt!.getMonth() + "." + self()?.createdAt!.getFullYear() + "." }}</label> -->
                <label class="date">{{ getCreatedAt() }}</label>
            </div>
        </div>
        <div class="btns">
            <button class="password-btn" (click)="toggleChPassScreen()">Change password</button>
            <button class="delete-btn" (click)="toggleDelScreen()">Delete account</button>
        </div>
    </div>
</div>

@if (showChNameScreen()) {
    <div class="overlay" (click)="toggleChNameScreen()">
        <div class="overlay-div" (click)="$event.stopPropagation()">
            <input name="username" type="text" class="new-username" placeholder="New Username" [(ngModel)]="newUsername">
            @if (!validUsername() && newUsername().length > 0) {
                <label class="error-msg">Username must be at least 3 characters</label>
            } @else {
                <label class="fill"></label>
            }
            <div class="overlay-btns">
                <button class="cancel" [disabled]="loading()" (click)="toggleChNameScreen()">Cancel</button>
                <button class="confirm" [disabled]="!validUsername() || loading()" (click)="onChName()">Confirm</button>
            </div>
        </div>
    </div>
}

@if (showChPassScreen()) {
    <div class="overlay" (click)="toggleChPassScreen()">
        <div class="overlay-div" (click)="$event.stopPropagation()">
            <input name="password" type="password" class="password" placeholder="current password" [(ngModel)]="password">
            <input name="newPassword" type="password" class="new-password" placeholder="new password" [(ngModel)]="newPassword">
            <input name="newPassword2" type="password" class="new-password" placeholder="confirm password" [(ngModel)]="newPassword2">
            @if (!validPass() && password().length > 0 && newPassword().length > 0 && newPassword() === newPassword2()) {
                <label class="error-msg">Passwords must be at least 5 characters</label>
            } @else if (!validPass() && newPassword().length >= 5 && newPassword2().length >= 5) {
                <label class="error-msg">New passwords must match</label>
            } @else {
                <label class="fill"></label>
            }
            <div class="overlay-btns">
                <button class="cancel" [disabled]="loading()" (click)="toggleChPassScreen()">Cancel</button>
                <button class="confirm" [disabled]="!validPass() || loading()" (click)="onChPass()">Confirm</button>
            </div>
        </div>
    </div>
}

@if (showDelScreen()) {
    <div class="overlay" (click)="toggleDelScreen()">
        <div class="overlay-div" (click)="$event.stopPropagation()">
            <input name="password" type="password" class="password" placeholder="password" [(ngModel)]="delPassword">
            @if (errorMessage() !== '') {
                <label class="error-msg">{{ errorMessage() }}</label>
            } @else {
                <label class="fill"></label>
            }
            <div class="overlay-btns">
                <button class="cancel" [disabled]="loading()" (click)="toggleDelScreen()">Cancel</button>
                <button class="confirm" [disabled]="!validDel() || loading()" (click)="onDel()">Confirm</button>
            </div>
        </div>
    </div>
}

@if (showUpdatePicture()) {
    <div class="overlay">
        <div class="overlay-dialog">
            <div class="input-fields">
                <div class="drop-zone" 
                    [class.drop-zone--hover]="isHovered()"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave()"placeholder
                    (drop)="onDrop($event)"
                    (click)="fileInput.click()">

                    @if (!imagePreview()) {
                        <span class="drop-text">Drop a picture</span>
                    } @else {
                        <img [src]="imagePreview()" alt="Pregled slike" class="image-preview">
                    }

                    <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
                </div>
                @if (errorMessage().length > 0) {<p class="error-message">{{ errorMessage() }}</p>}
            </div>
            <div class="button-field">
                <button class="cancel" (click)="toggleUpdatePicture(); errorMessage.set('')">Cancel</button>
                <button [ngClass]="loading() ? 'loading' : 'confirm'" (click)="onUpdatePicture()" [disabled]="!updatePictureValid()">{{loading() ? 'Confirming...' : 'Confirm' }}</button>
            </div>
        </div>
    </div>
}
