.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.background {
    position: fixed;
    z-index: 0;
    margin: 0;
    padding: 0;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    overflow: clip;
}

.background-img {
    width: 100%;
}

.content {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.bottom-text {
    background-color: #006CA5;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 4px rgb(0, 0, 0, 0.3);
}

.bot-info {
    margin: 0;
    padding: 30px;
    padding-top: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.bot-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.pfp {
    height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
    text-align: center;
    margin-right: 20px;
}

.bot-name {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.info-div {
    border: 1px solid rgb(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 5px 1px rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: whitesmoke;
}

.btns {
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 20%;
}

.ready-btn, .surrender-btn, .back-btn {
    margin-bottom: auto;
    background-color: #006CA5;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    width: 120px;
    transition: all 0.2s ease;

    &:hover {
        background-color: white;
        color: #006CA5;

        &:active {
            filter: brightness(70%);
        }
    }
}

.surrender-btn {
    margin-bottom: 0;
    color: #7A1C27;
    border: 2px solid #7A1C27;

    &:hover {
        background-color: #7A1C27;
        color: white;

        &:active {
            filter: brightness(70%);
        }
    }

    &.game {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.back-btn {
    margin-top: auto;
    margin-bottom: auto;
}

.field-err {
    color: #7A1C27;
    width: 100%;
    margin-bottom: auto;
}

.table-div, .tables {
    height: 100%;
    width: 80%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setup-table {
    position: relative;
    z-index: 1;
    width: 525px;
    max-width: 95%;
    aspect-ratio: 1/1;
    border: 1px solid rgb(170, 170, 170);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: #01588d;
    box-shadow: 0px 0px 30px 30px #01588d;
    animation: scaleUp 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.square {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #01588d;
    transition: all 0.25s ease;

    &:hover {
        border: 2px solid white;
        transform: scale(1.1);
    }

    &.disabled {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.attacked {
        filter: brightness(80%);
    }
}

.square-mine {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #01588d;
    transition: all 0.25s ease;

    &.attacked {
        filter: brightness(80%);
    }
}

.my-table, .opp-table {
    position: relative;
    z-index: 1;
    width: 525px;
    max-width: 95%;
    aspect-ratio: 1/1;
    border: 1px solid rgb(170, 170, 170);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0px 0px 30px 30px #01588d;
    transition: all 0.7s ease;

    &.disabled {
        transform: scale(0.7);
    }
}

.attacked-div {
    margin: 0;
    padding: 0;
    background-color: #02367B;
    width: 100%;
    height: 100%;
}

.ship {
    width: 49px;
    aspect-ratio: 1 / 1;

    &.sunk {
        filter: brightness(50%);
    }
}

.sunk {
    height: 46px;
    aspect-ratio: 1 / 1;
}

.ship-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(13, 13, 13, 0.318);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    backdrop-filter: blur(3px);
}

.title-div {
    text-align: center;
}

.surr-message {
    font-size: 28px;
}

.victory {
    color: rgb(255, 218, 34);
}

.defeat {
    color: rgb(187, 187, 187);
}

.go-btns {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.go-btn {
    margin-top: 15px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    width: 170px;
    transition: all 0.2s ease;

    &:hover {
        background-color: white;
        color: black;

        &:active {
            filter: brightness(70%);
        }
    }
}

.move-div {
    position: fixed;
    z-index: 5;
    top: 30px;
    // left: 35.9%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #006CA5;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.3);
    color: white;
    font-weight: 700;
}