.content {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

app-sidebar {
    width: 15%;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.list-div {
    width: 50%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected-user {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.user-list, .report-list {
    margin: 10px;
    padding: 10px;
    padding-top: 2px;
    background-color: rgb(15, 15, 117);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    min-width: fit-content;
    overflow-y: scroll;
    border-top: 10px solid rgb(15, 15, 117);
    border-bottom: 10px solid rgb(15, 15, 117);
    border-radius: 20px;
}

.report-list {
    height: 89%;
}

.user {
    width: 95%;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(47, 47, 212);
    border: 0px solid white;
    border-radius: 10px;
}

.user-info {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 70%;
    font-size: 150%;
}

.username-div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.score {
    margin-right: 0px;
    margin-left: auto;
}

.restriction-btns {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.timeout-div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.report {
    display: flex;
    flex-direction: column;
}

.report-info {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.msgs-div {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.212);
}

button {
    width: fit-content;
}

input {
    width: 50%;
}