.content {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.container {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

app-sidebar {
    width: 15%;
}

.user-list, .match-list {
    margin: 10px;
    padding: 10px;
    padding-top: 2px;
    background-color: rgb(15, 15, 117);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    min-width: fit-content;
    overflow-y: scroll;
    border-top: 10px solid rgb(15, 15, 117);
    border-bottom: 10px solid rgb(15, 15, 117);
    border-radius: 20px;
}

.user {
    width: 95%;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(47, 47, 212);
    border: 0px solid white;
    border-radius: 10px;
}
