<div class="content">
    <div class="container">
        @if (setupPhase()) {
            <div class="table-div">
                <div class="background">
                    <img class="background-img" src="https://res.cloudinary.com/drjisyvve/image/upload/v1790616364/better-background_lhd8ib.png" alt="<background-img>">
                </div>
                <div class="move-div">
                    <label class="setup-title">Setup Phase</label>
                    <label class="timer">{{ timer() + 's' }}</label>
                </div>
                <div class="setup-table">
                    @for (row of field(); track $index; let i = $index) {
                        @for (col of row; track $index; let j = $index) {
                            <div class="square" (click)="toggleSquare(i,j)" [class.disabled]="gameOver()">
                                @if (field()[i][j] == 1) {
                                    <img class="ship" src="https://res.cloudinary.com/drjisyvve/image/upload/v1790678917/ship_uamyyw.png" alt="<ship>">
                                }
                            </div>
                        }
                    }
                </div>
            </div>
            @if (showReadyScreen()) {
                <div class="ready-screen">
                    <h1>Waiting for opponent...</h1>
                </div>
            }
        }
        @if (gamePhase()) {
            <div class="tables">
                <div class="background">
                    <img class="background-img" src="https://res.cloudinary.com/drjisyvve/image/upload/v1790616364/better-background_lhd8ib.png" alt="<background-img>">
                </div>
                <div class="move-div">
                    @if (myMove()) {
                        <label class="my-move-title">Your Move</label>
                    }
                    @else {
                        <label class="opp-move-title">Opponent's Move</label>
                    }
                    <label class="timer">{{ timer() + 's' }}</label>
                </div>
                <div class="my-table" [class.disabled]="htmlMyMove()">
                    @for (row of field(); track $index; let i = $index) {
                        @for (col of row; track $index; let j = $index) {
                            <div class="square-mine" [class.attacked]="field()[i][j] < 0">
                                <div class="ship-div">
                                    @if (field()[i][j] === 0) {
                                    }
                                    @else if (field()[i][j] === -1) {
                                        <img class="sunk" src="https://res.cloudinary.com/drjisyvve/image/upload/v1790700083/sunk_ram34f.png" alt="<ship>">
                                    }
                                    @else if (field()[i][j] === 1) {
                                        <img class="ship" src="https://res.cloudinary.com/drjisyvve/image/upload/v1790678917/ship_uamyyw.png" alt="<ship>">
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="opp-table" [class.disabled]="!htmlMyMove()">
                    @for (row of oppField(); track $index; let i = $index) {
                        @for (col of row; track $index; let j = $index) {
                            <div class="square" (click)="onAttack(i,j)" [class.attacked]="oppField()[i][j] !== 0" [class.disabled]="gameOver() || !htmlMyMove() || oppField()[i][j] !== 0">
                                <div class="ship-div">
                                    @if (oppField()[i][j] === 0) {}
                                    @else {
                                        @if (oppField()[i][j] === 1) {
                                            <img class="sunk" src="https://res.cloudinary.com/drjisyvve/image/upload/v1790700083/sunk_ram34f.png" alt="<ship>">
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <div class="side-bar">
        <app-chat></app-chat>
        <div class="btns">
            @if (setupPhase()) {
                <button class="ready-btn" (click)="onReadyUp()" [disabled]="gameOver() || imReady()">Ready Up</button>
                <label class="field-err">{{ fieldError() }}</label>
            }
            @if (!gameOver()) {
                <button class="surrender-btn" [class.game]="gamePhase()" (click)="onSurrender()" [disabled]="gameOver()">Surrender</button>
            }
            @else {
                <button class="back-btn" (click)="onBack()" [disabled]="!gameOver()">Back</button>
            }
        </div>
    </div>
</div>

@if (gameOverScreen()) {
    <div class="overlay">
        <div class="title-div">
            @if (win()) {
                <img class="game-res" src="https://res.cloudinary.com/drjisyvve/image/upload/v1791102891/victory_tcpeng.png" alt="<victory>">
            }
            @else {
                <img class="game-res" src="https://res.cloudinary.com/drjisyvve/image/upload/v1791102898/defeat_pjhcsl.png" alt="<defeat>">
            }
            <h3 class="surr-msg">{{ surrenderMessage() }}</h3>
        </div>
        <div class="go-btns">
            <button class="go-btn" (click)="toGameScreen()">Back To Game Screen</button>
            <button class="go-btn" (click)="toMainScreen()">Back To Main Screen</button>
        </div>
    </div>
}

@if (waiting()) {
    <div class="overlay">
        <div class="waiting-div">
            <h1>Waiting for opponent to reconnect...</h1>
        </div>
    </div>
}

@if (disconnected()) {
    <div class="overlay">
        <div class="waiting-div">
            <h1 style="color: white">You have been disconnected.</h1>
            <button class="go-btn" (click)="toMainScreen()">Back To Main Screen</button>
        </div>
    </div>
}