<div class="sidebar">
    <div class="top-options">
        <div class="option" routerLink="/main">
            <label class="option-name">Home</label>
        </div>
        <div class="option">
            <label class="option-name">Challanges</label>
        </div>
        <div class="option" routerLink="/leaderboard">
            <label class="option-name">Leaderboard</label>
        </div>
    </div>
    <div class="bottom-options">
        <div class="option">
            <label class="option-name">Language</label>
        </div>
        <div class="option">
            <label class="option-name" routerLink="/profile">My Profile</label>
        </div>
    </div>
</div>