/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(47, 47, 212);
}
