.content {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.container {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.bot, .pvp, .challange {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(47, 47, 212);
    width: 60%;
}

.bot-title, .pvp-title, .challange-title {
    font-weight: 700;
    color: white;
    font-size: 150%;
}

app-sidebar {
    width: 15%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(13, 13, 13, 0.318);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-div {
    margin: 0;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 30px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 47, 212);
    width: 30%;
    height: 70%;
}

form {
    width: 80%;
}

.search {
    width: 100%;
    font-size: 120%;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 5px;
}

.user-list, .match-list {
    margin: 10px;
    padding: 10px;
    padding-top: 2px;
    background-color: rgb(15, 15, 117);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    min-width: fit-content;
    overflow-y: scroll;
    border-top: 10px solid rgb(15, 15, 117);
    border-bottom: 10px solid rgb(15, 15, 117);
    border-radius: 20px;
}

.match-list {
    height: 50%;
    width: 50%;
}

.user {
    width: 95%;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(47, 47, 212);
    border: 0px solid white;
    border-radius: 10px;
}

.match {
    width: 95%;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(47, 47, 212);
    border: 0px solid white;
    border-radius: 10px;
}

.challange-btn {
    margin-left: auto;
    height: fit-content;
}

.queue-div {
    width: 40%;
    height: 50%;
    border: 1px solid white;
    background-color: rgb(47, 47, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue-title {
    color: white;
}