<div class="content">
    <div class="bot">
        <label class="bot-title">Bot</label>
        <label class="bot-desc">Play against a computer</label>
    </div>
    <div class="pvp">
        <label class="pvp-title">PvP</label>
        <label class="bot-desc">Play against a random person</label>
    </div>
    <div class="challange">
        <label class="challange-title">Challange a friend!</label>
        <label class="bot-desc">If they are online, challange them to a battle</label>
    </div>
</div>