<div class="content">
    <app-sidebar></app-sidebar>
    <div class="containers">
        <div class="container">
            <div class="desc-div-l">
                <label class="desc">Choose a game mode</label>
            </div>
            <div class="bot" (click)="onBot()">
                <img src="https://res.cloudinary.com/drjisyvve/image/upload/v1791102868/bot_v0osql.png" alt="<bot>">
                <div class="title-desc">
                    <label class="bot-title">Bot</label>
                    <label class="bot-desc">Play against a computer</label>
                </div>
            </div>
            <div class="pvp" (click)="onPvP()">
                <img src="https://res.cloudinary.com/drjisyvve/image/upload/v1791109483/pvp_nwj64a.png" alt="<pvp>">
                <div class="title-desc">
                    <label class="pvp-title">PvP</label>
                    <label class="bot-desc">Play against a random person</label>
                </div>
            </div>
            <div class="challange" (click)="toggleOverlay()">
                <img src="https://res.cloudinary.com/drjisyvve/image/upload/v1791102879/invite_ldtwdp.png" alt="<chall>">
                <div class="title-desc">
                    <label class="challange-title">Challenge a friend!</label>
                    <label class="bot-desc">If they are online, challange them to a battle</label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="desc-div-r">
                <label class="desc">Your match history</label>
            </div>
            <div class="match-list" (scroll)="onScrollMatches($event)">
                @for(match of matches(); track match.id) {
                    <div class="match">
                        @if(match.winner?.id === self()?.id) {
                            <div class="result-div">
                                    <img class="result-win" src="https://res.cloudinary.com/drjisyvve/image/upload/v1791302326/2026_10_06_0tt_Kleki_szo1zx.png" alt="<win>">
                                    <div class="points-div">
                                        <label class="points">+{{ match.wpts }}</label>
                                        <img class="trophy" src="https://res.cloudinary.com/drjisyvve/image/upload/v1790950377/trophy_mxczir.png" alt="<trophy>">
                                    </div>
                            </div>
                            <label class="opp"
                                (mouseenter)="showInfo($event, match.looser!)"
                                (mouseleave)="hideInfo()">{{ "vs " + (match.looser?.username ??  "deleted") }}</label>
                        } @else {
                            <div class="result-div">
                                <img class="result-loss" src="https://res.cloudinary.com/drjisyvve/image/upload/v1791302330/2026_10_06_0tv_Kleki_f4zzhf.png" alt="<loss>">
                                <div class="points-div">
                                    <label class="points">-{{ match.lpts }}</label>
                                    <img class="trophy" src="https://res.cloudinary.com/drjisyvve/image/upload/v1790950377/trophy_mxczir.png" alt="<trophy>">
                                </div>
                            </div>
                            <label class="opp"
                                (mouseenter)="showInfo($event, match.winner!)"
                                (mouseleave)="hideInfo()">{{ "vs " + (match.winner?.username ?? "deleted") }}</label>   
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (overlay()) {
    <div class="overlay" (click)="toggleOverlay()">
        <div class="search-div" (click)="$event.stopPropagation()">
            <form>
                <input
                    name="search"
                    [ngModel]="search()"
                    (ngModelChange)="search.set($event)"
                    class="search"
                    placeholder="username"
                >
            </form>
            <div class="user-list" (scroll)="onScrollUsers($event)">
                @for(user of users(); track user.id) {
                    <div class="user">
                        <label class="username"
                                (mouseenter)="showInfo($event, user)"
                                (mouseleave)="hideInfo()">{{ user.username }}</label>
                        <img class="challange-btn"
                         src="https://res.cloudinary.com/drjisyvve/image/upload/v1791302333/2026_10_06_0tx_Kleki_ycuaex.png" 
                         alt="<challange>"
                        (click)="onChall(user.id)"
                        [class.disabled]="!user.online || isChallanged(user.id)">
                    </div>
                }
            </div>
        </div>
    </div>
}

@if(showQueueScreen()) {
    <div class="overlay" (click)="leavePvP()">
        <div class="queue-div" (click)="$event.stopPropagation()">
            <h1 class="queue-title">Waiting for a match...</h1>
            <button class="leave-btn" (click)="leavePvP()">Leave queue</button>
        </div>
    </div>
}

<div class="hover-div"
    [style.top.px]="infoY()"
    [style.left.px]="infoX() - 240"
    [class.visible]="showingInfo()">
    <div class="pfp-username">
        <div class="pfp-div">
            <img class="pfp" [class.online]="hovered()?.online" [src]="hovered()?.picture" alt="PFP">
        </div>
        <label class="hover-name">{{ hovered()?.username }}</label>
    </div>
    <div class="score-div">
        <label class="hover-score">{{ hovered()?.score }}</label>
        <img class="hover-trophy" src="https://res.cloudinary.com/drjisyvve/image/upload/v1790950377/trophy_mxczir.png" alt="<trophy>">
    </div>
</div>
<app-footer></app-footer>