<div class="content">
    <app-sidebar></app-sidebar>
    <div class="containers">
        <div class="container">
            <div class="desc-div-l">
                <label class="desc">Choose a game mode</label>
            </div>
            <div class="bot" (click)="onBot()">
                <img [src]="self()?.picture">
                <div class="title-desc">
                    <label class="bot-title">Bot</label>
                    <label class="bot-desc">Play against a computer</label>
                </div>
            </div>
            <div class="pvp" (click)="onPvP()">
                <img [src]="self()?.picture">
                <div class="title-desc">
                    <label class="pvp-title">PvP</label>
                    <label class="bot-desc">Play against a random person</label>
                </div>
            </div>
            <div class="challange" (click)="toggleOverlay()">
                <img [src]="self()?.picture">
                <div class="title-desc">
                    <label class="challange-title">Challange a friend!</label>
                    <label class="bot-desc">If they are online, challange them to a battle</label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="desc-div-r">
                <label class="desc">Your match history</label>
            </div>
            <div class="match-list" (scroll)="onScrollMatches($event)">
                @for(match of matches(); track match.id) {
                    <div class="match">
                        @if(match.winner?.id === self()?.id) {
                            <div class="result-div">
                                    <label class="result-win">WIN</label>
                                    <label class="points">+{{ match.points }}</label>
                            </div>
                            <label class="opp">{{ "vs " + (match.looser?.username ??  "deleted") }}</label>
                        } @else {
                            <div class="result-div">
                                <label class="result-loss">LOSS</label>
                                <label class="points">-{{ match.points }}</label>
                            </div>
                            <label class="opp">{{ "vs " + (match.winner?.username ?? "deleted") }}</label>    
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (overlay()) {
    <div class="overlay" (click)="toggleOverlay()">
        <div class="search-div" (click)="$event.stopPropagation()">
            <form>
                <input
                    name="search"
                    [ngModel]="search()"
                    (ngModelChange)="search.set($event)"
                    class="search"
                    placeholder="username"
                >
            </form>
            <div class="user-list" (scroll)="onScrollUsers($event)">
                @for(user of users(); track user.id) {
                    <div class="user">
                        <div class="username-score">
                            <div class="username-div">
                                <label class="username">{{ user.username }}</label>
                                @if(user.online) {
                                    <label class="online" style="color: greenyellow;">o</label>
                                }
                            </div>
                        </div>
                        <button class="challange-btn" [disabled]="!user.online" (click)="onChall(user.id)">chall</button>
                    </div>
                }
            </div>
        </div>
    </div>
}

@if(showQueueScreen()) {
    <div class="overlay" (click)="leavePvP()">
        <div class="queue-div" (click)="$event.stopPropagation()">
            <h1 class="queue-title">Waiting for a match...</h1>
            <button class="leave-btn" (click)="leavePvP()">Leave queue</button>
        </div>
    </div>
}